name: CI-CD Pipeline

'on':
  push:
    branches:
      - main
      - feature/implimentCI-CD
  pull_request:
    branches:
      - main
      - feature/implimentCI-CD

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest tests/

docker-build-push:
  needs: build-test
  runs-on: ubuntu-latest

  steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/ml_production:latest

deploy:
  needs: docker-build-push
  runs-on: ubuntu-latest

  steps:
    - name: Deployment Step
      run: echo "Deploy to AWS here (ECS/EC2/Beanstalk/AKS)"